<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<!-- Create a div where the graph will take place -->
<div id="word-cloud"></div>
<div id="bar-chart"></div>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" id="word-cloud-1"></div>
      <div class="divTableCell" id="bar-chart-1"></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell" id="word-cloud-2"></div>
      <div class="divTableCell" id="bar-chart-2"></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell" id="word-cloud-3"></div>
      <div class="divTableCell" id="bar-chart-3"></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell" id="word-cloud-4"></div>
      <div class="divTableCell" id="bar-chart-4"></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell" id="word-cloud-5"></div>
      <div class="divTableCell" id="bar-chart-5"></div>
    </div>
  </div>
</div>

<script src="./wordCloud.js"></script>
